body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(120deg,#667eea,#764ba2);
  color: white;
}

/* center layout */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* card */
.card {
  background: rgba(0,0,0,0.3);
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  width: 350px;
}

.title {
  font-size: 40px;
}

.tagline {
  opacity: 0.8;
}

/* buttons */
.button {
  padding: 12px 25px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background: yellow;
  font-weight: bold;
  cursor: pointer;
}

/* inputs */
input {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.forgot {
  font-size: 12px;
  opacity: 0.8;
}

/* sidebar */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #111;
  position: fixed;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px;
  border-bottom: 1px solid #333;
}

/* main dashboard */
.main {
  margin-left: 240px;
  padding: 40px;
}

.start-btn {
  padding: 20px 40px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  background: yellow;
  cursor: pointer;
}
.dash-btn{
    padding: 10px 10px 10px 10px;
    background-color: #464444;
    color:white;
    border-radius: 10px;
}
/* Teacher Dashboard
.teachercontainer { width: 80%; background: white; padding: 30px; border-radius: 20px; }
ul { list-style: none; padding: 0; }
li { padding: 15px; border-bottom: 1px solid #eee; cursor: pointer; color: var(--primary); font-weight: bold; }
li:hover { background: #f9f9f9; }

/* Stats View */
/* .analyticscard { background: white; padding: 40px; border-radius: 20px; width: 60%; }
.stats-grid { display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px; margin-top: 20px; }
.stat-box { padding: 20px; background: #f0f2f5; border-radius: 10px; font-size: 1.1rem; }
.back-btn { margin-bottom: 20px; background: none; border: none; color: var(--primary); cursor: pointer; } */ 